<main>
    <h1 class="page-title">Anasayfa</h1>
    <p class="page-description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum dolorum tempore sint accusamus minus ipsa atque dignissimos ea beatae debitis.
    </p>
    <hr><!--alttaki kısım home içinde cards takinin aynısını göstermek için denedim olmadı sonraya kaldı-->
    <!-- <div class="cards"> -->
        <!-- <div class="col-12 col-md-4 col-lg-3" *ngFor="let card of cardService.cards"> -->
            <!--cards değişkenini ve type ını cardService içinde tanımladık ve cards componentine çağırdığımız gibi çağırdık verify hatası verdi.-->
            <!-- <app-card-item [card]="card"></app-card-item> -->
        <!-- </div> -->
    <!-- </div> -->
</main>
